# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

### remove()- removes ,does not return and gives errror if not present 
### discard()- removes ,does not return and DOES NOT GIVE ERROR  if not present (List does not have discard)
### pop()-removes and returns the first element

### 1

##### Yes, set comprehensions are supported in Python, similar to list comprehensions. A set comprehension allows you to create a set by specifying an expression and an optional condition, just like list comprehensions. The syntax is almost identical, except that the result will be a set, ensuring unique and unordered elements.

##### Syntax for Set Comprehension

##### {expression for item in iterable if condition}

In [3]:
st={x for x in range(1,11)}
st

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### 2

In [4]:
st.add(11)
st.pop()
#st.remove(1)
# st.discard(1)

st

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

### 3

In [5]:
even={x for x in range(1,11) if x%2==0}
odd={x for x in range(1,11) if x%2!=0}

union_set=even.union(odd)
intersection_set=even.intersection(odd)
difference_set=even.difference(odd)
symmetric_difference_set=even.symmetric_difference(odd)

print(union_set)
print(intersection_set)
print(difference_set)
print(symmetric_difference_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
set()
{2, 4, 6, 8, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [6]:
even={x for x in range(1,11) if x%2==0}
odd={x for x in range(1,11) if x%2!=0}

union_set=even or odd
intersection_set=even and odd
difference_set=even - odd
symmetric_difference_set=even^(odd)

### 4

In [7]:
square={x**2 for x in range(1,11)}

square

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

### 5

In [8]:
ev={x for x in st if x%2==0 }    
ev

{2, 4, 6, 8, 10}

### 6

### Method 1 : Directly Print

In [10]:
dup={1,22,33,22,45,22,67,22,34,22}

dup

{1, 22, 33, 34, 45, 67}

### MEthod 2 : Set Method

In [11]:
dup1={1,22,33,22,45,22,67,22,34,22}

unique_set=set(dup1)

unique_set

{1, 22, 33, 34, 45, 67}

### 7

In [13]:
first={1,2,3,4,5}
second={1,2,3}


print(second.issubset(first))
print(first.issubset(second))

print(first.issuperset(second))

True
False
True

### 8

In [19]:
immutable_set_using_list=frozenset([1,2,3,4,5])
immutable_set_using_tuple=frozenset((6,7,8,10))
immutable_set_using_range=frozenset(range(1,11))
immutable_set_using_set=frozenset({1,2,3,4,5})

print(immutable_set_using_list)
print(immutable_set_using_tuple)
print(immutable_set_using_range)
print(immutable_set_using_set)

frozenset({1, 2, 3, 4, 5})
frozenset({8, 10, 6, 7})
frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9, 10})
frozenset({1, 2, 3, 4, 5})

### 9

In [17]:
st={1,2,3,4,5}

lst=list(st)

lst.append(6)

st=set(lst)

st

{1, 2, 3, 4, 5, 6}

### 10

### The following error occurs because sets are unhashable in Python, which means they cannot be used as keys in a dictionary.

### Why Sets are Unhashable
#### Sets are mutable, meaning their content can change.
#### Hashing relies on immutability to ensure that the hash value of an object remains consistent. Since sets can change, they cannot provide a reliable hash value.

In [18]:
dict={ {2,4,6,8}:2 , {3,6,9}:3}

TypeError: unhashable type: 'set'

In [21]:
dict={frozenset({2,4,6,8}):2 , frozenset({3,6,9}):3}
dict

{frozenset({2, 4, 6, 8}): 2, frozenset({3, 6, 9}): 3}

### 11

In [22]:
Set={1,2,3,4,5,6,7,8,9,10}

for em in Set:
    print(em)

1
2
3
4
5
6
7
8
9
10

### 12

#### 1. remove()
 Removes a specific element from the set.
 Raises a KeyError if the element is not found.

### 2. discard()
Removes a specific element from the set.
Does NOT raise an error if the element is not found.

### 3. pop()
Removes and returns an arbitrary element(Generally the first Element) from the set.
Raises a KeyError if the set is empty.

### 4. clear()
Removes all elements from the set, leaving it empty.
Example:

In [23]:
Set={1,2,3,4,5,6,7,8,9,10}

for i in range(len(Set)):
    Set.pop()
    print(Set)

{2, 3, 4, 5, 6, 7, 8, 9, 10}
{3, 4, 5, 6, 7, 8, 9, 10}
{4, 5, 6, 7, 8, 9, 10}
{5, 6, 7, 8, 9, 10}
{6, 7, 8, 9, 10}
{7, 8, 9, 10}
{8, 9, 10}
{9, 10}
{10}
set()

### 13

In [24]:
Set1={1,2,3,4,5,6,7,8,9,10}
Set2={11,12,13,14,15,16,17,18,19,20}

Set1.symmetric_difference_update(Set2)
Set1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

### 14

In [25]:
Set={1,2,3,4,5,6,7,8,9,10}

print(10 in Set)
print(11 in Set)

True
False

### 15

In [27]:
Set={
    (1,2),
    (11,22),
    (111,222)
}

Set

{(1, 2), (11, 22), (111, 222)}