# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

###  tuples in Python do not have a tuple comprehension in the same way lists have list comprehensions. However, you can achieve a similar effect by using generator expressions and then converting the generator into a tuple.

### 1

In [1]:
## Generator function example given below

tup=tuple(x for x in range(1,11))

print(tup)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### 2

In [2]:
print(tup[0],tup[len(tup)-1],tup[len(tup)//2])

1 10 6

### 3

In [3]:
print(tup[:3])
print(tup[-3:])
print(tup[3:6])

(1, 2, 3)
(8, 9, 10)
(4, 5, 6)

### 4

In [4]:
tup=(
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

for row in tup:
    print(row)

print("The element at 2nd row and 3rd column is",tup[1][2])

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
The element at 2nd row and 3rd column is 6

### 5

In [6]:
tup=(1,2,3) + (4,5,6)
tup

(1, 2, 3, 4, 5, 6)

### 6

### .index(item) returns the index of the first occurence of the item specified

In [5]:
numbers=(1,2,3,4,5,6,7,8,9,9,9,9,9,9,9,9,10)

print("The number 9 is repeated",numbers.count(9),"times")
print("The number 9 is at index",numbers.index(9))

The number 9 is repeated 8 times
The number 9 is at index 8

### 7

In [7]:
pack="messi",10,"barcelona"
name,number,team=pack

print(name,number,team)

messi 10 barcelona

### 8

In [9]:
convert=tuple([x for x in range(1,11)])
convert

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### 9

In [12]:
nested_tuple=(
    (1,2,3),
    (4,5,6),
    (7,8,9)
    )

print(nested_tuple)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

### 10

In [13]:
tup=tuple(x for x in range(1,6))

print(type(tup),tup)
lst=list(tup)

lst.append(6)

tup=tuple(lst)

print(type(tup),tup)

<class 'tuple'> (1, 2, 3, 4, 5)
<class 'tuple'> (1, 2, 3, 4, 5, 6)

### 11

### "".join(name): The join() method combines all elements of an iterable (like a tuple or list) into a single string, with the "" (empty string) acting as the separator.

In [14]:
name="S","a","i","n","a","v","a"

name="".join(name)

print(type(name),name)

<class 'str'> Sainava

In [18]:
name="S","a","i","n","a","v","a"," ","M","o","d","a","k"

name_space=" ".join(name)
name_try="&".join(name)
name_again="^".join(name)

print(type(name_space),name_space)
print(type(name_again),name_again)
print(type(name_try),name_try)

<class 'str'> S a i n a v a   M o d a k
<class 'str'> S^a^i^n^a^v^a^ ^M^o^d^a^k
<class 'str'> S&a&i&n&a&v&a& &M&o&d&a&k

### 12

In [19]:
tpl_dict = {
    (1, 2): 3,
    (4, 5): 6,
    (7, 8): 9
}
print(tpl_dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

### 13

In [20]:
nested_tuple=(
    (1,2,3),
    (4,5,6),
    (7,8,9)
    )

for row in nested_tuple:
    print(row)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

### 14

In [21]:
tup=(3,6,1,8,0,6)

print("The maximum element in the tuple is",max(tup))
print("The minimum element in the tuple is",min(tup))



set_tup=set(tup)
print(type(set_tup),set_tup)
print("Tuple here",tup)
no_dupli=tuple(set(tup))
print(type(no_dupli),no_dupli)

The maximum element in the tuple is 8
The minimum element in the tuple is 0
<class 'set'> {0, 1, 3, 6, 8}
Tuple here (3, 6, 1, 8, 0, 6)
<class 'tuple'> (0, 1, 3, 6, 8)

### 15

In [22]:
tup=(3,6,1,8,0,6)

print("The maximum element in the tuple is",max(tup))
print("The minimum element in the tuple is",min(tup))
print("The sum of the elements in the tuple is",sum(tup))

The maximum element in the tuple is 8
The minimum element in the tuple is 0
The sum of the elements in the tuple is 24