In [1]:
lst=["great service","could have been better","Excellent service","great accomodation","Not satisfies"]

Sum=sum(1 for comment in lst if "great" in comment.lower() or "excellent" in comment.lower())

print(Sum)

3

In [1]:
lst1=[1,2,3,4,5]
lst2=[4,5,6,7,8]
set1={1,2,3,4,5}
set2={4,5,6,7,8}



merged_lst=[*lst1,*lst2]
merged_st={*set1,*set2}

print(merged_lst)
print(merged_st)

[1, 2, 3, 4, 5, 4, 5, 6, 7, 8]
{1, 2, 3, 4, 5, 6, 7, 8}

In [1]:
dict1={"name":"John","age":25}
dict2={"name":"Davies","age":56}
dict3={"name":"Cena","age":43,"city":"New York"}

merged={*dict1,*dict2,*dict3}#Gives a set of keys

merged

{'age', 'city', 'name'}

In [2]:
dict1 = {"name": "John", "age": 25}
dict2 = {"name": "Davies", "age": 56}
dict3 = {"name": "Cena", "age": 43, "city": "New York"}

merged = {**dict1, **dict2, **dict3}
print(merged)

{'name': 'Cena', 'age': 43, 'city': 'New York'}

In [3]:
dict1 = {"name": "John", "age": 25}
dict2 = {"name": "Davies", "age": 56}
dict3 = {"name": "Cena", "age": 43, "city": "New York"}

merged = dict1 | dict2 | dict3
print(merged)

{'name': 'Cena', 'age': 43, 'city': 'New York'}

In [4]:
dict1 = {"name": "John", "age": 25}
dict2 = {"name": "Davies", "age": 56}
dict3 = {"name": "Cena", "age": 43, "city": "New York"}

merged = dict1.copy()
merged.update(dict2)
merged.update(dict3)

print(merged)

{'name': 'Cena', 'age': 43, 'city': 'New York'}

In [5]:
tup=(1,2,3,4,5)

tup[::-1]

(5, 4, 3, 2, 1)

In [1]:
bstr=b"Hello"
print(bstr)

b'Hello'

In [6]:
a=b

NameError: name 'b' is not defined

In [2]:
try:
    a=b
except NameError as e:
    print(e)

name 'b' is not defined

In [4]:
try:
    a=b
except:
    print("The variable is not defined")

The variable is not defined

In [5]:
try:
    a=b
except Exception as e:
    print(e)

name 'b' is not defined

In [8]:
try:
    1/0
except Exception:
    print("An error occured",Exception)

An error occured <class 'Exception'>

In [9]:
try:
    1/0
except Exception as e:## e is an object of the exception class
    print("An error occured",e)
    print(type(e)) #<class 'ZeroDivisionError'>

An error occured division by zero
<class 'ZeroDivisionError'>