# Module 3: Data Structures Assignments
## Lesson 3.1: Lists
### Assignment 1: Creating and Accessing Lists

Create a list of the first 20 positive integers. Print the list.

### Assignment 2: Accessing List Elements

Print the first, middle, and last elements of the list created in Assignment 1.

### Assignment 3: List Slicing

Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.

### Assignment 4: List Comprehensions

Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.

### Assignment 5: Filtering Lists

Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.

### Assignment 6: List Methods

Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

### Assignment 7: Nested Lists

Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 8: List of Dictionaries

Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

### Assignment 9: Matrix Transposition

Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

### Assignment 10: Flattening a Nested List

Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

### Assignment 11: List Manipulation

Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.

### Assignment 12: List Zipping

Create two lists of the same length. Use the `zip` function to combine these lists into a list of tuples and print the result.

### Assignment 13: List Reversal

Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.

### Assignment 14: List Rotation

Write a function that rotates a list by n positions. Print the original and rotated lists.

### Assignment 15: List Intersection

Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.

### 1

In [1]:
lst=[x for x in range(1,21)]
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

### 2

In [2]:
n=len(lst)
print(lst[0],lst[n//2],lst[n-1])

1 11 20

### 3

In [3]:
print(lst[:6])
print(lst[-5:])
print(lst[5:16])

[1, 2, 3, 4, 5, 6]
[16, 17, 18, 19, 20]
[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

### 4

In [4]:
lst=[x**2 for x in range(1,11)]
lst

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 5

In [5]:
even=[x for x in lst if x%2==0]
even

[4, 16, 36, 64, 100]

### 6

In [8]:
lst=[34,54,67,89,11,43,94]

#Ascending order
lst.sort()
print(lst)

lst=list(set(lst))#remove duplicates
print(lst)

[11, 34, 43, 54, 67, 89, 94]
[34, 67, 43, 11, 54, 89, 94]

In [9]:
lst=[34,54,67,89,11,43,94]

#Descending order
lst.sort(reverse=True)
print(lst)

lst=list(set(lst))#remove duplicates
print(lst)

[94, 89, 67, 54, 43, 34, 11]
[34, 67, 43, 11, 54, 89, 94]

In [ ]:
import random

random_numbers = [random.randint(1, 20) for _ in range(15)]
print(f"Original list: {random_numbers}")

sorted_numbers = sorted(random_numbers)
print(f"Sorted in ascending order: {sorted_numbers}")

sorted_numbers_desc = sorted(random_numbers, reverse=True)
print(f"Sorted in descending order: {sorted_numbers_desc}")

unique_numbers = list(set(random_numbers))
print(f"List with duplicates removed: {unique_numbers}")

In [24]:
import random

# lst=[random.randint(1,100) for _ in range(10)] Also works
asc=[random.randint(1,100) for x in range(10)]

lst.sort()

print(lst)

lst.sort(reverse=True)

print(lst)

[2, 22, 45, 61, 66, 86, 86, 91, 98, 100]
[100, 98, 91, 86, 86, 66, 61, 45, 22, 2]

### 7

In [14]:
#Try for 3 lists


lst1 =[1,2,3,4]

lst2=[11,22,33]

lst3=[111,222]

lst4=[[x,y,z] for x in lst1 for y in lst2 for z in lst3]

lst4

[[1, 11, 111],
 [1, 11, 222],
 [1, 22, 111],
 [1, 22, 222],
 [1, 33, 111],
 [1, 33, 222],
 [2, 11, 111],
 [2, 11, 222],
 [2, 22, 111],
 [2, 22, 222],
 [2, 33, 111],
 [2, 33, 222],
 [3, 11, 111],
 [3, 11, 222],
 [3, 22, 111],
 [3, 22, 222],
 [3, 33, 111],
 [3, 33, 222],
 [4, 11, 111],
 [4, 11, 222],
 [4, 22, 111],
 [4, 22, 222],
 [4, 33, 111],
 [4, 33, 222]]

In [26]:
lst1=[1,2,3]

lst2=[11]

lst3=[111]

lst4=[[x,y,z] for x in lst1 for y in lst2 for z in lst3]

lst4

[[1, 11, 111], [2, 11, 111], [3, 11, 111]]

In [29]:
matrix=[
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

for row in matrix:
    print(row)
print(f"The element at secomnd row and third column is {matrix[1][2]}")

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
The element at secomnd row and third column is 6

### 8

In [33]:
lst=[
     {'name': 'Alice', 'score': 88},
    {'name': 'Bob', 'score': 72},
    {'name': 'Charlie', 'score': 95},
    {'name': 'David', 'score': 65},
    {'name': 'Eve', 'score' : 100}
    ]

sorted_students=sorted(lst,key=lambda x:x['score'] ,reverse=True)

print(lst)

sorted_students

[{'name': 'Alice', 'score': 88}, {'name': 'Bob', 'score': 72}, {'name': 'Charlie', 'score': 95}, {'name': 'David', 'score': 65}, {'name': 'Eve', 'score': 100}]

[{'name': 'Eve', 'score': 100},
 {'name': 'Charlie', 'score': 95},
 {'name': 'Alice', 'score': 88},
 {'name': 'Bob', 'score': 72},
 {'name': 'David', 'score': 65}]

### 9|

In [3]:
def transpose(matrix):
    transposed = [[matrix[j][i] for j  in range(len(matrix))] for i in range(len(matrix[0]))]
    return transposed

matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(matrix)
print(transpose(matrix))

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

### 10

In [7]:
def flatten(matrix):
    flattened=[ matrix[i][j] for i in range (len(matrix)) for j in range(len(matrix[0])) ]
    return flattened

matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(matrix)
print(flatten(matrix))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

### 11

In [10]:
lst=[1,2,3,4,5,6,7,8,9,10]

print("Before operation :",lst )

#Method 1
# removed1=lst.pop(2)
# removed2=lst.pop(4)
# removed3=lst.pop(6)


#MEthod 2
del lst[2]
del lst[4]
del lst[6]

lst.insert(5,99)

print("After operation :",lst )

Before operation : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
After operation : [1, 2, 4, 5, 7, 99, 8, 10]

### 12

### The zip() function in Python is used to combine two or more iterables (e.g., lists, tuples, etc.) element-wise into pairs (or tuples). It groups elements from the provided iterables at the same index into a tuple and returns an iterator of tuples.

### Example 1: Zipping Two Lists

In [15]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

result = zip(list1, list2)
print(list(result))  # Output: [(1, 'a'), (2, 'b'), (3, 'c')]

[(1, 'a'), (2, 'b'), (3, 'c')]

### Unequal Lengths
### When the iterables are of different lengths, zip() stops at the shortest one:

In [16]:
list1 = [1, 2, 3]
list2 = ['a', 'b']

result = zip(list1, list2)
print(list(result))  # Output: [(1, 'a'), (2, 'b')]

[(1, 'a'), (2, 'b')]

### Unzipping with zip()
### You can unzip a zipped object using the zip(*zipped) technique:

In [ ]:



zipped = [(1, 'a'), (2, 'b'), (3, 'c')]

list1, list2 = zip(*zipped)
print(list1)  # Output: (1, 2, 3)
print(list2)  # Output: ('a', 'b', 'c')

### Answer to question

In [19]:
lst1=[1,2,3,4,5]
lst2=[6,7,8,9,10]

#lst1.extend(lst2) Takes One Argument

zipped=zip(lst1,lst2)

#once made into list ,cannot be made into tuple and vice versa

# print(list(zipped))#Returns List of Tuples

print(tuple(zipped))#`Returns Tuple of Tuples

((1, 6), (2, 7), (3, 8), (4, 9), (5, 10))

### 13

In [20]:
def reverse(lst):
    return lst[::-1]

lst=[1,2,3,4,5,6,7,8,9,10]

print(reverse(lst))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### 14

### Method 1 - Right rotation

In [23]:
def rotation(lst,k):
    n=len(lst)
    rotate=[0]*n
    for i in range(n):
        rotate[(i+k)%n]=lst[i]
    return rotate

lst=[1,2,3,4,5,6,7,8,9,10]

print(lst)
print(rotation(lst,3))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[8, 9, 10, 1, 2, 3, 4, 5, 6, 7]

### Method 2 - Left Rotation

In [24]:
def rotate(lst,k):
    return lst[k:]+lst[:k] # List Concatenation

lst=[1,2,3,4,5,6,7,8,9,10]

print(lst)
print(rotate(lst,3))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[4, 5, 6, 7, 8, 9, 10, 1, 2, 3]

### 15

### Method 1

In [25]:
def intersection(lst1,lst2):
    return list(set(lst1) & set(lst2))

lst1=[1,2,3,4,5]
lst2=[3,4,5,6,7]

print(intersection(lst1,lst2))

[3, 4, 5]

### Method 2

In [26]:
def intersection(lst1,lst2):
    return [x for x in lst1 if x in lst2]

lst1=[1,2,3,4,5]
lst2=[3,4,5,6,7]

print(intersection(lst1,lst2))

[3, 4, 5]

### Method 3

In [30]:
def intersection(lst1,lst2):
    lst1.sort()
    lst2.sort()

    intersect=[]
    i=0;j=0
    while i<len(lst1) and j<len(lst2):
        if lst1[i]==lst2[j]:
            intersect.append(lst1[i])
            i+=1
            j+=1
        elif lst1[i]<lst2[j]:
            i+=1
        else:
            j+=1
    return intersect

lst1=[1,2,3,4,5]
lst2=[67,32,5,4,90]

print(intersection(lst1,lst2))

[4, 5]

### Extra Understanding

In [32]:
lst=[0,1]*2
print(lst)

tup=(0,1)*2
print(tup)

[0, 1, 0, 1]
(0, 1, 0, 1)

### Empty list and tuple

In [34]:
lst=list()
print(lst)

tup=tuple()
print(tup)

[]
()

### List to tuple and vice versa

In [35]:
lst=[1,2,3,4,5,6,7,8,9,10]
tup=(1,2,3,4,5,6,7,8,9,10)

print(tuple(lst))   
print(list(tup))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]